<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <li nz-submenu nzOpen nzTitle="Mantenimientos" nzIcon="form">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="mantenimiento/ingresolot">IngresoLot</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="mantenimiento/articulo">Articulos</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="mantenimiento/detalleartentrada">Detalle Articulo Entrada</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="mantenimiento/movimiento">Movimiento</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="mantenimiento/detalleartsalida">Detalle Articulo Salida</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="mantenimiento/categoria">Categoria</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                  <a routerLink="mantenimiento/usuario">Usuario </a>
              </li>
            </ul>
          </li>
        </ul>
      </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
